{{#each noOfImages}}
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="thumbnail">
            <img src="/images/{{../cityName}}/{{../cityName}}-{{this}}.jpg" alt="{{../cityName}}-{{this}}">
        </div>
    </div>
{{/each}}
